 <!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.1.95/css/materialdesignicons.min.css" rel="stylesheet">
    
</head>
<body>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-8 slideInLeft">
                <div class="logo">
                   <a href="/"> <span class="point">Ren</span></a>
                </div>
            </div>
            <div class="col-md-9 hidden-sm hidden-xs slideInRight">
                <div class="main-menu">
                    <ul class="list-inline">
                        <li><a href="#hello">Hello</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact me</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 hidden-lg hidden-md slideInRight">
                <div class="mobile-btn">
                    <span><i class="mdi mdi-menu" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Mobile menu -->
<div class="mob-menu-wrapper hidden-md hidden-lg">
    <div class="close-mob-menu">
        <span><i class="mdi mdi-close" aria-hidden="true"></i></span>
    </div>
    <div class="mobile-menu">
        <ul>
            <li><a href="#hello">Hello</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact me</a></li>
        </ul>
    </div>
</div>
<!-- Mobile menu -->


{{{body}}}

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow zoomIn">
                <div class="copyright">
                    <p>Copyright 2019 Renato Mission.</p>
                </div>
            </div>
        </div>
    </div>
</footer>




<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.placeholder.min.js"></script>

<!--Mix It Up-->
<script src="assets/mixitup-v3/dist/mixitup.min.js"></script>

<!--THEME-->
<script src="js/wow.min.js"></script>



<script src="js/theme.js"></script>
</body>

</html>
