
		<!-- Thumbnail -->
		<div class="post-thumbnail image" style="background-image: url(images/portfolio/2.jpg); ">
			<div class="post-thumbnail-inner">
				<div class="post-thumbnail-box">
					<h2 class="title">Renato's Blog</h2>
				</div>
			</div>
		</div>
		<!-- End Thumbnail -->

		<div id="posts">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-xs-12">
						<div class="blog-container">
							<div class="blog-posts">

								<!-- Article -->
								<article class="post">
									<div class="post-media">
										<a href="single.html">
											<img src="images/posts/1.jpg" alt="Post">
										</a>
									</div>
									<div class="post-content">
										<div class="title">
											<h3 class="title">
												<a href="single.html">Make a difference today</a>
											</h3>
										</div>

										<!-- Post Details -->
										<div class="post-details">
											<a href="#" class="post-author">
												<img src="images/avatar2.jpg" alt="Avatar">
											</a>
											<a href="#" class="post-date">June 24, 2018</a>
											<a href="#" class="post-views">15 views</a>
											<a href="#" class="post-comments">03 Comments</a>
										</div>
										<!-- End Post Details -->

										<!-- The Content -->
										<div class="the-excerpt">
											<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
												Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
											</p>
										</div>
										<!-- End The Content -->
									</div>
								</article>
								<!-- End Article -->

								<!-- Article -->
								<article class="post">
									<div class="post-media">
										<a href="single.html">
											<img src="images/posts/2.jpg" alt="Post">
										</a>
									</div>
									<div class="post-content">
										<div class="title">
											<h3 class="title">
												<a href="single.html">Life is colourful</a>
											</h3>
										</div>

										<!-- Post Details -->
										<div class="post-details">
											<a href="#" class="post-author">
												<img src="images/avatar2.jpg" alt="Avatar">
											</a>
											<a href="#" class="post-date">June 24, 2018</a>
											<a href="#" class="post-views">15 views</a>
											<a href="#" class="post-comments">03 Comments</a>
										</div>
										<!-- End Post Details -->

										<!-- The Content -->
										<div class="the-excerpt">
											<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
												Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
											</p>
										</div>
										<!-- End The Content -->
									</div>
								</article>
								<!-- End Article -->

								<!-- Article -->
								<article class="post">
									<div class="post-media">
										<a href="single.html">
											<img src="images/posts/3.jpg" alt="Post">
										</a>
									</div>
									<div class="post-content">
										<div class="title">
											<h3 class="title">
												<a href="single.html">I love travelling</a>
											</h3>
										</div>

										<!-- Post Details -->
										<div class="post-details">
											<a href="#" class="post-author">
												<img src="images/avatar2.jpg" alt="Avatar">
											</a>
											<a href="#" class="post-date">June 24, 2018</a>
											<a href="#" class="post-views">15 views</a>
											<a href="#" class="post-comments">03 Comments</a>
										</div>
										<!-- End Post Details -->

										<!-- The Content -->
										<div class="the-excerpt">
											<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
												Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
											</p>
										</div>
										<!-- End The Content -->
									</div>
								</article>
								<!-- End Article -->

								<!-- Article -->
								<article class="post">
									<div class="post-media">
										<a href="single.html">
											<img src="images/posts/4.jpg" alt="Post">
										</a>
									</div>
									<div class="post-content">
										<div class="title">
											<h3 class="title">
												<a href="single.html">The living room is too small</a>
											</h3>
										</div>

										<!-- Post Details -->
										<div class="post-details">
											<a href="#" class="post-author">
												<img src="images/avatar2.jpg" alt="Avatar">
											</a>
											<a href="#" class="post-date">June 24, 2018</a>
											<a href="#" class="post-views">15 views</a>
											<a href="#" class="post-comments">03 Comments</a>
										</div>
										<!-- End Post Details -->

										<!-- The Content -->
										<div class="the-excerpt">
											<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
												Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
											</p>
										</div>
										<!-- End The Content -->
									</div>
								</article>
								<!-- End Article -->

							</div>

							<!-- Pagination -->
							<div class="pagination-wrap">
								<ul>
									<li>
										<a class="prev page-numbers" href="#">
											<i class="fa fa-long-arrow-left"></i>
										</a>
									</li>
									<li>
										<a class="page-numbers" href="#">1</a>
									</li>
									<li>
										<span class="page-numbers current">2</span>
									</li>
									<li>
										<a class="page-numbers" href="#">3</a>
									</li>
									<li>
										<a class="page-numbers" href="#">4</a>
									</li>
									<li>
										<a class="next page-numbers" href="#">
											<i class="fa fa-long-arrow-right"></i>
										</a>
									</li>
								</ul>
							</div>
							<!-- End Pagination -->
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="sidebar">

							<!-- About Me -->
							<div class="widget kd-about">
								<h2 class="widget-title">About Me</h2>
								<img src="images/widgets/about-me.jpg" alt="" />
								<div class="widget-content">

									<h3 class="title">
										<a href="#">Charlotty</a>
									</h3>
									<p class="description">
										Hi! I am Charlotty a phasellus molestie, lectus sed dapibus volutpat, ligula tortor tincidunt purus, et imperdiet erat sem vel mauris. Nam nulla tortor, imperdiet et tincidunt nec, ornare sit amet risus.
									</p>

									<div class="widget-follow-content">
										<a href="#" title="Behance" class="btn">
											<i class="fa fa-behance"></i>
										</a>
										<a href="#" title="Dribbble" class="btn">
											<i class="fa fa-dribbble"></i>
										</a>
										<a href="#" title="Facebook" class="btn">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#" title="Google Plus" class="btn">
											<i class="fa fa-google-plus"></i>
										</a>
										<a href="#" title="Linkedin" class="btn">
											<i class="fa fa-linkedin"></i>
										</a>

									</div>
								</div>
							</div>
							<!-- End About Me -->

							<!-- Mailchimp -->
							<div class="widget kd-mailchimp">
								<div class="widget-content">
									<p class="kd-description kd-italic">
										Subscribe now to receive updates and news via emails
									</p>
									<form class="kd-subscribe">
										<div class="form-item form-remove">
											<input type="email" class="kd-subscribe-email" placeholder="Your email address ..." value="" required="">
										</div>
										<div class="form-submit form-remove form-submit">
											<input type="submit" class="kd-btn kd-subscribe btn" value="Subscribe">
										</div>
									</form>
									<p class="subscribe-status"></p>
								</div>
							</div>
							<!-- End Mailchimp -->

							<!-- Banner -->
							<div class="widget kd-banner">
								<div class="widget-banner-content">
									<img src="images/widgets/advertise.jpg" alt="Image">
								</div>
							</div>
							<!-- End Banner -->

							<!-- Facebook -->
							<div class="widget kd-likebox">
								<div class="widget-likebox-content">
									<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fenvato%2F&amp;tabs=tab&amp;width=340&amp;height=214&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=937469883041525" width="340" height="214"></iframe>
								</div>
							</div>
							<!-- Facebook -->

							<!-- TagCloud-->
							<div class="widget widget_tag_cloud">
								<h2 class="widget-title">Tag Cloud</h2>
								<div class="tagcloud">
									<a href='#'>beautiful</a>
									<a href='#'>discover</a>
									<a href='#'>family</a>
									<a href='#'>featured</a>
									<a href='#'>friendship</a>
									<a href='#'>heartly</a>
									<a href='#'>lovely</a>
									<a href='#'>travel</a>
									<a href='#'>trip</a>
								</div>
							</div>
							<!-- End TagCloud-->

							<!-- Contact -->
							<div class="widget kd-contact">
								<h2 class="widget-title">Contact Me</h2>
								<div class="widget-content">
									<div class="description">
										<p>
											Amet augue rutrum gravida tellus nostra integer netus, feugiat sociis. Euismod nunc lacus ante commodo tortor montes eu duis orci tempor iaculis sociosqu.
										</p>
									</div>
									<div class="item-field">
										<i class="fa fa-map-marker"></i>
										<span>75 Washington DC</span>
									</div>
									<div class="item-field">
										<i class="fa fa-phone"></i>
										<span>+123 456 789</span>
									</div>
									<div class="item-field">
										<i class="fa fa-envelope"></i>
										<span><a href="mailto:kendytheme.ksb@gmail.com">kendytheme.ksb@gmail.com</a></span>
									</div>
								</div>
							</div>
							<!-- End Contact -->
						</div>
					</div>
				</div>
			</div>
		</div>