

<section id="hello" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about-img-wrap">
                <div class="about-img wow slideInRight">
                    <img src="media/hello-section/image.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-me wow slideInLeft">
                    <div class="about-me-title">
                        <h1><span class="point">I am Renato Mission</span></h1>
                    </div>
                    <div class="about-me-text">
                        <div class="opacity-box">
                            <p>I am a Web Developer located in Batangas, Philippines. I currently work
                                as a Web Developer for St. Cabrini, located in Batangas. 
								I learned mostly self-taught and growing my skills and learning new things every day.</p>
                        </div>
                    </div>
                    <div class="about-me-info">
                        <p>
                            <span class="span-title">Phone</span>
                            <span>+63 950-383-9899</span>
                        </p>
                        <p>
                            <span class="span-title">Email</span>
                            <span>dev.renmissionjr@gmail.com</span>
                        </p>
                        <p>
                            <span class="span-title">Address</span>
                            <span>St.tomas, Batangas, Philippines</span>
                        </p>
                        <p>
                            <span class="span-title">Social</span>
                            <span class="span-icons">
                                <a target="_blank" href="https://twitter.com/ren_mission" class="mdi fonts-icons mdi-twitter"></a>
                                <a target="_blank" href="https://www.linkedin.com/in/renmission/" class="mdi fonts-icons mdi-linkedin"></a>
                                <a target="_blank" href="https://www.behance.net/renmission" class="mdi fonts-icons mdi-behance"></a>
                                <a target="_blank" href="https://github.com/renmission" class="mdi fonts-icons mdi-github-circle"></a>
                            </span>
                        </p>
                    </div>
                    <div class="about-btns">
                        <a data-toggle="modal" data-target="#contact-modal" href="#" class="site-btn">Contact me</a>
                        <a href="download/renato-mission-cv.pdf" class="site-btn gray-btn">Download cv</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="section">
    <div class="container">
        <div class="row wave-bg">
            <div class="zigzag wow slideInLeft">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-md-4 wow slideInLeft">
                <div class="section-sidebar">
                    <h2><span class="point">Skills</span></h2>
                    <div class="opacity-box">
                        <p>I am inspired by creating great work with people who are as passionate as I am about building something awesome.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 wow zoomIn">
                        <div class="advantages-box">
                            <h4>Web Development</h4>
                            <div class="opacity-box">
                                <p>Js, Node.js, PHP, MongoDB, PostgreSQL, Mysql</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow zoomIn">
                        <hr class="mobile-hr">
                        <div class="advantages-box">
                            <h4>UI\UX Design</h4>
                            <div class="opacity-box">
                                <p>Photoshop, Illustrator</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow zoomIn">
                        <hr>
                        <div class="advantages-box">
                            <h4>Frontend Development</h4>
                            <div class="opacity-box">
                                <p>HTML, CSS, SASS, Bootstrap, Reactjs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow zoomIn">
                        <hr>
                        <div class="advantages-box">
                            <h4>SEO Audit</h4>
                            <div class="opacity-box">
                                <p>Screaming Frog, Semrush, Moz, WebCEO, Google Analytics</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="experience" class="section">
    <div class="container">
        <div class="row wave-bg">
            <div class="zigzag wow slideInLeft">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                       <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-md-4 wow slideInLeft">
                <div class="section-sidebar">
                    <h2><span class="point">Experience</span></h2>
                    <div class="opacity-box">
                        <p>I learned mostly self-taught and growing my skills and learning new things every day. Connecting to other developers for adivice and help.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 right-box">
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Marketing Graphic Artist And Web Developer</h4>
                            <p class="about-info">St. Frances Cabrini Medical Center</p>
                            <p>May, 2018 — Present</p>
                            <div class="opacity-box">
                                      <p>Designed and developed user-friendly website, including optimized check-out
                                    page that increased user clicks, and converting them into patient/client of the hospital. </p>
									<br>
									<p>Design and create collaterals specifically in graphics like banners, posters and flyers, helping the marketing and sales team to advertise the new products and services of the hospital through social media and print outs. </p>
                            </div>
                        </div>
                    </div>
                </div>
				   <hr>
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Digital Manager</h4>
                            <p class="about-info">Winner Church Global Harvest Ministry Inc.</p>
                            <p>2017 — Present</p>
                            <div class="opacity-box">
                                <p>Design and create collaterals specifically in graphics like banners, posters, flyers, and invitation card, helping the multimedia team to advertise the News, Events and Updates of the Church through social media.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Web Designer</h4>
                            <p class="about-info">Rw Solutions</p>
                            <p>Jan, 2018</p>
                            <div class="opacity-box">
                                <p>Updating and Maitaining the company website developed through Wordpress and create collaterals for the websites promotionals and events</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Web Designer</h4>
                            <p class="about-info">Personiv</p>
                            <p>Oct, 2017</p>
                            <div class="opacity-box">
                                <p>Enhanced and developed clients website through companies inhouse tools and Adobe Photoshop.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="education" class="section">
    <div class="container">
        <div class="row wave-bg">
            <div class="zigzag wow slideInLeft">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-md-4 wow slideInLeft">
                <div class="section-sidebar">
                    <h2><span class="point">Education</span></h2>
                    <div class="opacity-box">
                        <p>All my life I have been driven by my strong belief that education
                            is important. I try to learn something new every single day.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 right-box">
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Bachelor of Science and Computer Science</h4>
                            <p class="about-info">Tanauan Institute</p>
                            <p>Apr, 2010 — March, 2015</p>
                            <div class="opacity-box">
                                <p>Learn the basics and fundamentals about web developments, but I learned mostly self-taught and growing my skills and learning new things every day.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row wow zoomIn">
                    <div class="col-md-12">
                        <div class="about-row">
                            <h4 class="about-tittle">Search Engine Optimization</h4>
                            <p class="about-info">Inventive Media</p>
                            <p>Jan, 2019</p>
                            <div class="opacity-box">
                                <p>Learn how to increase website search results and engine ranking through organic and non-organic SEO approaches. Learn On-page and off-page SEO, Google keyword planner, Google Analytics, Blogs, PPC and Social Media Campaigns.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="section section-small-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title wow slideInLeft">
                    <h2><span class="point">Portfolio</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-sort wow slideInLeft">
                    <ul class="list-inline">
                        <li class="colored-link" data-mixitup-control data-filter="all">All projects</li>
                        <li class="colored-link" data-mixitup-control data-filter=".web-sites">Web sites</li>
                        <li class="colored-link" data-mixitup-control data-filter=".ui-ux-design">UI\UX design</li>
                        <li class="colored-link" data-mixitup-control data-filter=".frontend">Frontend</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6 mix web-sites wow flipInX">
                            <a data-toggle="modal" data-target="#portfolio-modal" data-name="patty" title="Code cake" href="#" class="portfolio-box">
                                <div class="portfolio-img">
                                    <img src="media/portfolio-images/portfolio-9.jpg" alt="">
                                </div>
                                <div class="portfolio-name">
                                    <span>Code cake</span>
                                </div>
                                <div class="portfolio-date">
                                    <span>2019</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 mix ui-ux-design wow flipInX">
                            <a data-toggle="modal" data-target="#portfolio-modal" data-name="phoenix" title="Business Landing Page" href="#" class="portfolio-box">
                                <div class="portfolio-img">
                                    <img src="media/portfolio-images/portfolio-10.jpg" alt="">
                                </div>
                                <div class="portfolio-name">
                                    <span>Business Landing Page</span>
                                </div>
                                <div class="portfolio-date">
                                    <span>2019</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 mix web-sites wow flipInX">
                            <a data-toggle="modal" data-target="#portfolio-modal" data-name="ewesta" title="Code Mission Ebook" href="#" class="portfolio-box">
                                <div class="portfolio-img">
                                    <img src="media/portfolio-images/portfolio-11.jpg" alt="">
                                </div>
                                <div class="portfolio-name">
                                    <span>Code Mission Ebook</span>
                                </div>
                                <div class="portfolio-date">
                                    <span>2019</span>
                                </div>
                            </a>
                        </div>
                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="section">
    <div class="container">
        <div class="row wave-bg">
            <div class="zigzag wow slideInLeft">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-md-4 wow slideInLeft">
                <div class="section-sidebar">
                    <h2><span class="point">Contact</span></h2>
                    <div class="opacity-box">
                        <p>Are you working on something great? I would love to help make it
                            happen! Drop me a letter and start your project right now! Just do it.</p>
                    </div>
                </div>
            </div>
 

            <form action="/contact" method="post" class="wow slideInRight js-footer-form">
                <div class="form-wrapper">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input class="form-field js-field-name" type="text" placeholder="Name" name="name" required>
                            
                        </div>

                        <div class="form-group">
                            <input class="form-field js-field-email" type="email" placeholder="E-mail" name="email" required>
                          
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <textarea class="form-field js-field-message" placeholder="Message" name="message" required></textarea>
                            
                        </div>
                        <div class="submit-holder">
                            <input class="site-btn" type="submit" value="Send message">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>





{{!-- MODALS --}}


<!-- Portfolio modal -->
<div class="modal fade" id="portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="portfolio-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-body" data-name="patty">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Patty</span></h1>
                </div>
                <div class="modal-description">
                    <p>Patty Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>April, 2017</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="phoenix">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Phoenix</span></h1>
                </div>
                <div class="modal-description">
                    <p>Phoenix Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>March, 2016</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="ewesta">
                <div class="modal-title">
                    <h1><span class="point">Startup website for eWesta</span></h1>
                </div>
                <div class="modal-description">
                    <p>eWesta Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>December, 2015</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="foody">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Foody</span></h1>
                </div>
                <div class="modal-description">
                    <p>Foody Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>May, 2014</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="stark">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Stark</span></h1>
                </div>
                <div class="modal-description">
                    <p>Stark Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>June, 2014</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="te4h">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Te4h</span></h1>
                </div>
                <div class="modal-description">
                    <p>Te4h Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>April, 2014</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="lamp">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Lamp</span></h1>
                </div>
                <div class="modal-description">
                    <p>Lamp Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>December, 2013</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
            <div class="modal-body" data-name="zebra">
                <div class="modal-title">
                    <h1><span class="point">Startup website for Zebra</span></h1>
                </div>
                <div class="modal-description">
                    <p>Zebra Startup is the perfect shop. I did my best and prepared
                        12 highly customizable pages to present all startup's products. Upon
                        opening this product you will see stylish and unique layouts thoroughly
                        organized into their appropriate groups.</p>
                </div>
                <div class="about-me-info">
                    <p>
                        <span class="span-title">Stack</span>
                        <span>HTML, CSS, Bootstrap, Javascript, SVG</span>
                    </p>
                    <p>
                        <span class="span-title">Date</span>
                        <span>March, 2013</span>
                    </p>
                </div>
                <div class="modal-images">
                    <img src="media/modal-images/modal-image-1.jpg" alt="">
                    <img src="media/modal-images/modal-image-2.jpg" alt="">
                </div>
                <div class="about-btns">
                    <a href="#" class="site-btn">VIsit Website</a>
                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio modal -->

<!-- Contact me modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="portfolio-modal">
    <div class="modal-dialog modal-center" role="document">
        <div class="modal-content" >
            <div class="modal-body">
                <div class="modal-title">
                    <h1><span class="point">Let’s work together</span></h1>
                </div>
                <div class="modal-description">
                    <p>Are you working on something great? I would love to help make it happen!
                        Drop me a letter and start your project right now! Just do it.</p>
                </div>
                <div class="modal-form">
                    <form action="#" class="js-modal-form">
                        <div class="row form-wrapper">
                            <div class="col-lg-5 col-md-5">
                                <div class="form-group">
                                    <input class="form-field js-field-name" type="text" placeholder="Name" required>
                                    <span class="form-validation"></span>
                                    <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
                                </div>
                                <div class="form-group">
                                    <input class="form-field js-field-email" type="email" placeholder="E-mail" required>
                                    <span class="form-validation"></span>
                                    <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7">
                                <div class="form-group">
                                    <textarea class="form-field js-field-message" placeholder="Message" required></textarea>
                                    <span class="form-validation"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit-holder">
                                    <input class="site-btn js-submit-contact" type="submit" value="Send message">
                                    <a href="#" class="site-btn gray-btn" data-dismiss="modal">Back to cv</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact me modal -->

<!-- Thank you modal -->
<div class="modal fade" id="thanks-modal" tabindex="-1" role="dialog" aria-labelledby="thanks-modal">
    <div class="modal-dialog modal-center" role="document">
        <div class="modal-content" >
            <div class="modal-body">
                <div class="modal-title">
                    <h1><span class="point">Your message has been sent</span></h1>
                </div>
                <div class="modal-description">
                    <p>Thank you for your interest in my work. I’ll contact you just in a few
                        days. Stay tuned and see you soon, friend!</p>
                </div>
                <a href="#" class="site-btn" data-dismiss="modal">Back to cv</a>
            </div>
        </div>
    </div>
</div>
<!-- Thank you modal -->

<!-- Error message modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal">
    <div class="modal-dialog modal-center" role="document">
        <div class="modal-content" >
            <div class="modal-body">
                <div class="modal-title">
                    <h1><span class="point">Ooops!</span></h1>
                </div>
                <div class="modal-description">
                    <p>Something go wrong!</p>
                </div>
                <a href="#" class="site-btn" data-dismiss="modal">Try again</a>
            </div>
        </div>
    </div>
</div>
<!-- Error message modal -->