<!-- Thumbnail -->
<div class="post-thumbnail image" style="background-image: url(images/portfolio/1.jpg)">
    <div class="post-thumbnail-inner">
        <div class="post-thumbnail-box">
            <h2 class="title">Buiness Card</h2>
        </div>
    </div>
</div>
<!-- End Thumbnail -->

<!-- Single Project -->
<div class="project-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="images-project">
                    <div class="images-wrap">
                        <img src="images/portfolio/6.jpg" alt="">
                        <img src="images/portfolio/2.jpg" alt="">
                        <img src="images/portfolio/3.jpg" alt="">
                        <img src="images/portfolio/4.jpg" alt="">
                    </div>
                    <div class="navigation">
                        <a href="#" class="older-posts">Previous Project</a>
                        <a href="#" class="newer-posts">Next Project</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="detail-content">
                    <h4>DESCRIPTION</h4>
                    <div class="description">
                        <p>
                            Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem
                            et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at
                            mattis.Phasellus congue volutpat porttitor. Vivamus fringilla iaculis ex, et condimentum
                            magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus
                            dapibus mauris.
                        </p>
                        <p>
                            Phasellus molestie, lectus sed dapibus volutpat, ligula tortor tincidunt purus, et imperdiet
                            erat sem vel mauris. Nam nulla tortor.
                        </p>
                    </div>
                    <h4>Info</h4>
                    <div class="project-attributes">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="name">Client</td>
                                    <td class="value">
                                        <a href="http://kendytheme.net/">Royal Building</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">Date</td>
                                    <td class="value">Aug, 2017</td>
                                </tr>
                                <tr>
                                    <td class="name">Services</td>
                                    <td class="value">Design, Construction, Ideas</td>
                                </tr>
                                <tr>
                                    <td class="name">Share</td>
                                    <td class="value">
                                        <div class="post-share">
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">Categories</td>
                                    <td class="value">Branding, Identity</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="button btn">Visit project</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Single Project -->

<!-- Related Projects -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="projects-related fade-in">
                <div class="grids">
                    <div class="grid-item equal">
                        <div class="media image" style="background-image: url(images/portfolio/1.jpg);">
                            <img src="images/portfolio/1.jpg" alt="Project">
                        </div>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2 class="title">
                                    <a href="single-product.html">RECTANGLE</a>
                                </h2>
                                <ul class="cat">
                                    <li><a href="#">Logos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item equal">
                        <div class="media image" style="background-image: url(images/portfolio/2.jpg);">
                            <img src="images/portfolio/2.jpg" alt="Project">
                        </div>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2 class="title">
                                    <a href="single-product.html">RECTANGLE</a>
                                </h2>
                                <ul class="cat">
                                    <li><a href="#">Logos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item equal">
                        <div class="media image" style="background-image: url(images/portfolio/3.jpg);">
                            <img src="images/portfolio/3.jpg" alt="Project">
                        </div>
                        <div class="caption">
                            <div class="caption-inner">
                                <h2 class="title">
                                    <a href="single-product.html">RECTANGLE</a>
                                </h2>
                                <ul class="cat">
                                    <li><a href="#">Logos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Related Projects -->